.infoContainer {
    border: 1px solid black;
    white-space: pre-line;
    padding: 1% 1% 1% 1%;
    margin-top: 2%;
}

input {
    max-width: 50%;
}

.small {
    max-width: 5% !important;
    margin-left: 2px;
}